.market{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(33, 33, 33, 0.751);
}

.wrapper{
    position: relative;
    width: 300px;
    height: 600px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/shelf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-y: 45px;
}

.shelfs{
    display: flex;
    position: relative;
    top: 0px;
    left: 10px;
    width: fit-content;
}

.shelf{
    display: flex;
    align-items: end;
    margin-top: 38px;
    width: 100%;
    gap: 6px;
    cursor: pointer;
}

.secondShelf{
    gap: 0;
}

.thirdShelf{
    margin-top: 0px;
}

.block-basket{
    position: relative;
    top: 87px;
}

.basket{
    position: relative;
    top: -78px;
    z-index: 11;
    pointer-events: none;
}

.inBasket{
    position: absolute;
    top: -71px;
    left: 60px;
    width: 206px;
    height: 167px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: end;

}

.btn{

    width: 174px;
    padding: 20px;
    border-radius: 12px;
    border: none;
    background: yellow;
    position: absolute;
    top: 89%;
    left: 24%;
    z-index: 99;
    font-size: 16px;
    display: none;
    cursor: pointer;
}
