.market{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(33, 33, 33, 0.751);
}

.wrapper{
    width: 300px;
    height: 600px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/shelf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-y: 45px;
}

.cart{
    position: relative;
    top: 7px;
}

table{
    display: flex;
    position: relative;
    top: 0px;
    left: 10px;
    width: fit-content;
}

.shelf{
    display: flex;
    align-items: end;
    margin-top: 38px;
    width: 100%;
    gap: 6px;
}

.secondShelf{
    gap: 0;
}

.thirdShelf{
    margin-top: 0px;
}